/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.container {
  display: table;
}
div {
    display: block;
}
.card1 {
  text-align: center;
  padding: 25px;
}
.description {
  margin-top: -20;
}
.newsletter {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.home-cards {
  width: 900px;
  margin: auto;
}
.home-icons {
  width: 1000px;
  margin: auto;
}
