/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.container {
  display: table;
}


.col-lg-4 {
  // position: relative;
  // size: cover !important;

}

div {
    display: block;
}

.card1 {
  text-align: center;
  padding: 25px;
}

.description {
  margin-top: -20;
}

.newsletter {
  text-align: center;
}
