<div class="container">
  <% @events.each do |event|%>
    <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url('https://www.sportscorner.qa/image/catalog/Blog/Basketball02.jpg');" alt="City Photo">
        <%= image_tag("https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAXTAAAAJDFjYzM5MDMzLTI2MjYtNDliZS1hYTJlLTRiYjcyZjczYzRmMw.jpg", class: "card-user avatar avatar-large")%>
        <h2 class="card-title">Basketball</h2>
        <h3 class="card-subtitle">Organized by Félix</h3>
        <p class="card-description">33 open events</p>
    </div>
  <% end %>
</div>
