<h1 style="text-align: center"> My Dashboard </h1>


<%= link_to "favorite sport" , favorite_sports_path, class: "btn btn-primary" %>

<%= link_to "Create an event" , new_event_path, class: "btn btn-primary" %>


<% if current_user.photo? %>
  <%= cl_image_tag current_user.photo.path, width: 200, height: 300, crop: :fill %>
<% end %>
