<h1 style="text-align: center"> My Dashboard </h1>


<%= link_to "favorite sport" , favorite_sports_path, class: "btn btn-primary" %>

<%= link_to "Create an event" , new_event_path, class: "btn btn-primary" %>
