<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '618304331683855',
        xfbml      : true,
        version    : 'v2.7'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>


  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 40%), url('https://static.pexels.com/photos/29578/pexels-photo.jpg');">
    <div class="banner-content">
      <h1> SPORTS IN THE AIR</h1>
      <p>Very cool stuff, useful and smart</p>
      <a class="btn btn-primary btn-lg">SIGN UP</a>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card1">
          <img src="images/1.png" alt="grosse bite">
          <h2> youhou </h2>
          <p class="description"> youhou </p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card1">
          <img src="images/12.png" alt="grosse bite">
          <h2> youhou </h2>
          <p class="description"> youhou </p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card1">
          <img src="images/13.png" alt="grosse bite">
          <h2> youhou </h2>
          <p class="description"> youhou </p>
        </div>
      </div>
    </div>
 </div>




<div class="container">
  <div class="row">
    <div class="col-lg-4 rm-padding-sm col-md-12">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://static.pexels.com/photos/29578/pexels-photo.jpg');">
        </div>
      </div>
      <div class="col-lg-4 rm-padding-sm col-md-6">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://static.pexels.com/photos/29578/pexels-photo.jpg');">
        </div>
      </div>
        <div class="col-lg-4 rm-padding-sm col-md-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://static.pexels.com/photos/29578/pexels-photo.jpg');">
        </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-12 rm-padding-sm col-md-12">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://static.pexels.com/photos/29578/pexels-photo.jpg');">
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-4 rm-padding-sm col-md-6">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://static.pexels.com/photos/29578/pexels-photo.jpg');">
        </div>
      </div>
      <div class="col-lg-4 rm-padding-sm col-md-6">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://static.pexels.com/photos/29578/pexels-photo.jpg');">
        </div>
      </div>
        <div class="col-lg-4 rm-padding-sm col-md-12">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://static.pexels.com/photos/29578/pexels-photo.jpg');">
        </div>
    </div>
  </div>
</div>

 <div class="newsletter">
      <h2>Get news from us</h2>
      <p>Leave us your mail and get news from us</p>
         <form action="#">
          <label for="your-email">Your email</label>
          <input type="email" id="your-email" placeholder="bob@gmail.com">
          <input class="btn btn-primary" type="submit" value="Sign In">
      </form>
  </div>




</body>
</html>


