// Your footer style
.footer {
  background: #545454;
  color: white;
  padding: 0px;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  margin-top: 70px;
}

.footer p {
  padding: 30px;
  font-size: 15px;
  color: white;
}

.footer i {
  padding: 25px;
  font-size: 40px;
  color: white;
}
.footer a {
  color: white;
  :hover {
    color: lightgrey;
    cursor: pointer;
  }
}
