.card {
  position: relative;
  height: 250px;
  background-size: cover;
  background-position: 100% center;
  border-radius: 3px;
  color: white;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  margin-top: 5px;
  margin-bottom: 5px;
}
.special {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card:hover {
  opacity: 0.8;
  cursor: pointer;
}
.card h2 {
  color: white;
  font-size: 22px;
}
.card h1 {
  margin-top: 0px
}
.card-title {
  position: absolute;
  top: -5px;
  left: 10px;
}
.card-subtitle {
  position: absolute;
  left: 10px;
  bottom: 20px;
}
.card-description {
  position: absolute;
  bottom: 0px;
  left: 10px;
}
.card-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
